body {
    background: rgb(255, 248, 238);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family:monospace;
    font-size:125%;
    
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(153, 118, 95);
   margin: 0 auto;
    display: flex;
    padding: 10px;
    width: 100%;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
    font-size: x-large;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(255, 193, 223);
    display: flex;
    width: 102.5%;
    height: 100%;
}
.sidebar {
    margin-right: 0 auto;
    padding: 10px;
}
.sidebar-img {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
  height: 400px;
    width: 400px;
    border-radius: 100%;

   
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
